@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #acb9fa;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.box {
    background-color: #fff;
    width: 700px; 
    position: relative;
    margin: auto; 
    padding: 40px; 
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.box h2 {
    font-family: "Edu AU VIC WA NT Guides", cursive;
    margin-bottom: 40px;
    font-size: 32px;
    position: relative;
}

.box h2::after {
    content: '';
    width: 200px;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.box blockquote {
    font-size: 26px;
    min-height: 110px;
}

.box blockquote::before,
.box blockquote::after {
    content: '"';
}

.box span {
    float: right;
    position: relative;
    margin-top: 10px;
    display: block;
    font-weight: bold; 
}

.box span::after {
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30px;
}

.box div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.box button {
    background-color: rgb(23, 124, 229);
    color: #fff;
    border-radius: 25px;
    width: 80px;
    height: 40px;
    border: 1px solid rgb(23, 124, 229);
    cursor: pointer;
}

.load {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
}

footer {
    background-color: rgb(23, 124, 229);
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
    flex-shrink: 0; /* Prevent footer from shrinking */
}

footer p {
    margin: 0;
    font-size: 14px;
}

@media (max-width: 600px) {
    .box {
        width: 90%; /* Adjust width for smaller screens */
        padding: 20px;
    }

    .box h2 {
        font-size: 24px;
    }

    .box blockquote {
        font-size: 20px;
        min-height: 60px;
    }

    .box span {
        font-size: 16px;
    }

    .box button {
        width: 70px;
        height: 35px;
        font-size: 14px;
    }
}
